.primary-color
{
    background-color: #E527B2;
    color: white;
}
.primary-text-color
{
    color: #E527B2;
}
.header-bg
{
    background-color: #F9F6E2;
}
.main-bg
{
    background-color: #1111110d;
}
.rating-clr
{
    background-color: #FFC107;
}
.disabled-btn-clr
{
    background-color: lightblue;
}